 
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

[data-md-color-scheme="slate"] .collapsible {
  background-color: #474747;
  color: #C6C6C6;
}

/* Add a background color to the button when it's focused */
.collapsible:focus {
  background-color: #ccc;
  border: 2px solid #EF4056;
}

[data-md-color-scheme="slate"] .collapsible:focus {
  background-color: #474747;
  border: 2px solid #1E5288;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

[data-md-color-scheme="slate"] .active, [data-md-color-scheme="slate"] .collapsible:hover {
  background-color: #1E5288;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border: 1px solid #ccc
}

[data-md-color-scheme="slate"] .content {
  color: white;
  background-color: #212020;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Apply styles to links within expanded content */
.collapsible:focus-within + .content a {
  tabindex: 0; /* Enable tabbing for links when the collapsible button or its content is focused */
}

/* Apply styles to links within collapsed content */
.collapsible:not(:focus-within) + .content a {
  tabindex: -1; /* Disable tabbing for links when the collapsible button or its content is not focused */
}