.img-right, 
.ood-form,
.highlighted-research {
    float: right;
}

.img-left {
    float: left;
    padding-right: 15px;
}

.ood-screenshots{
    box-shadow: 5px 5px 5px #999;
    width: 70%;
}

@media (max-width: 800px) {
    .img-right {
        float: none;
        display: block;
        margin: 1rem auto;
        max-width: 80%;
    }
    .img-left {
        float: none;
        display: block;
        margin: 1rem auto;
        max-width: 80%;
    }
    .ood-form {
        float: none; 
    }
    .highlighted-research {
        float: left; 
        width: 98%;
    }
    .ood-screenshots {
        width: 100%;
    }
}