.img-right {
    float: right;
}

@media (max-width: 600px) {
    .img-right {
        float: left; /* or float: left; depending on your preference */
    }
}


.ood-form {
    float: right;
}

@media (max-width: 800px) {
    .ood-form {
        float: none; 
    }
}