name: Deploy to S3

on:
  push:
    branges:
      - main

jobs:
  deploy: 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Update
        run: |
          sudo apt-get update

      - name: Sync with S3
        run: | 
          aws s3 sync site/ s3://staticwebsite-hpcdocs.static.arizona.edu
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          
